* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --content-left: 250px;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: #0f172a;
  font-family: Arial, sans-serif;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

@media (max-width: 767px) {
  :root {
    --content-left: 0px;
  }

  html,
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
  :root {
    --content-left: 250px;
  }
}
